---
pageable: true
per_page: 12
layout: default
---
<h1>Articles tagged '<%= tagname %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <div class="rounded overflow-hidden shadow-lg my-6 p-4">
      <div class="px-6 flex justify-between">
        <div class="flex font-bold text-xl mb-2"><%= link_to article.title, article %></div>
        <h5 class="flex text-gray-600"><%= article.date.strftime('%B %d, %Y') %></h5>
      </div>
      <div class="px-6 text-gray-700 text-base">
        <%= article.summary(300) %>
      </div>
      <div class="px-6 py-4">
        <% article.tags.each do |tag| %>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
            <%= link_to "##{tag}", tag_path(tag) %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
